/* fonts styles */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Azeret Mono", monospace;
}
/* shared styles start form here */
.shared-title {
  width: 852px;
  height: 113px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shared-title h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.shared-title p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
/* shared styles end form here */

/* banner styles start from here */
.banner-container {
  max-width: 1440px;
  height: 652px;
  margin: 0 auto;
  background-image: url(../assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 36px;
  margin-bottom: 150px;
}
.banner-content {
  width: 998px;
  height: 581px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content img {
  margin-bottom: 32px;
}
.banner-content h2 {
  color: rgb(13, 19, 33);
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.banner-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 0 73px;
  margin-bottom: 32px;
}
.banner-content a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  text-decoration: none;
}
/* banner styles end from here */

/* why web development styles start from here*/
.development-container {
  width: 946px;
  height: 1233px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.coding-change-container {
  width: 850px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
}
.coding-content {
  width: 477px;
  height: 219px;
}
.coding-content h4 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.coding-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.coding-content button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 20px 12px 20px;
  background-color: white;
  border: 1px solid rgb(13, 19, 33);
  margin-top: 32px;
}
.coding-img {
  width: 259.56px;
  height: 217.01px;
}
.coding-img img {
  width: 259.56px;
  height: 217.01px;
}
/* why web development styles end from here*/

/* video section styles start from here */
.video-section-container {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
}
.video-container {
  width: 1076px;
  height: 550px;
  margin: 0 auto;
}
.video-border {
  margin-top: 48px;
  padding: 32px 0;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
/* video section styles end from here */

/* my  current target styles start from here */
.current-target-container {
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 110px;
}
.cart-container {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.cart-container .cart {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  border-radius: 16px;
  padding: 40px;
}
.cart h2 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}
.cart p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8pxx;
  margin-bottom: 24px;
}
.cart a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.cart-container .cart:nth-child(1) {
  background: rgba(255, 76, 30, 0.05);
}
.cart-container .cart:nth-child(2) {
  background: rgba(0, 76, 232, 0.05);
}
.cart-container .cart:nth-child(3) {
  background: rgba(255, 223, 0, 0.05);
}
/* my  current target styles end from here */

/* next target styles start from here */
.next-target-container {
  width: 1140px;
  height: 866px;
  margin: 0 auto;
}
.next-target-item {
  width: 1140px;
  height: 219px;
  margin-top: 48px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.icon-item {
  margin-right: 30px;
}
.content-item h2 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.content-item p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin: 8 0;
}
.content-item a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin: 24px 0px;
  display: block;
}
/* next target styles end from here */

/* footer section styles start from here */
.footer-section-container {
  width: 1440px;
  height: 524px;
  margin: 0 auto;
  margin-top: 100px;
}
.footer-img {
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  background-image: url(../assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.footer-title h2 {
  color: rgb(255, 255, 255);
  margin-top: 64px;
  padding-top: 100px;
}
.footer-title p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.input-box input[type="text"] {
  width: 548px;
  height: 57px;
  padding: 19px 20px 19px 20px;
  margin: 48px 16px 0 0;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.input-box input[type="submit"] {
  width: 120px;
  height: 57px;
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.footer-icon-container {
  width: 1140px;
  height: 36px;
  margin: 0 auto;
  margin-top: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-icon-container h2 {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.footer-icon-container img {
  padding-left: 24px;
}
/* footer section styles start from here */
